body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #00bcd4;
}

select, button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #00bcd4;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #008c9e;
}

#hasil {
  margin-top: 20px;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
}
